// INPUT
.label {
  // padding: 8px;
  font-size: $default-font-size;
  color: $black-color-1;
  font-weight: 400;
  display: block;
}

.input--form {
  @include form;
}
.form-control {
  outline: none;
  border: none;
  width: 100%;
}

// BUTTON CONFIGURATION
.main-button {
  @include buttonConfig($white-color, $main-color);
  font-size: $default-font-size-2;

  padding: 10px;
  cursor: pointer;
  &--disabled {
    background-color: $disabled-button !important;
  }
  svg {
    position: relative !important;
    width: 5% !important;
    height: 5% !important;
    overflow: hidden !important;
    left: 50%;
    background-color: transparent;
    transform: translateX(-50%);
  }
  .loader {
    background-color: transparent !important;
  }
}

.secondary-button {
  @include buttonConfig($white-color, $color-secondary);
}

.btn {
  @include buttonConfig($white-color, $main-color, $default-font-size-2);
  padding: 8px;
}

.datatable_button {
  padding: 0.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  &--primary {
    background-color: rgba(132, 90, 223, 0.2);
    color: $main-color;
  }
  &--secondary {
    background-color: $color-yellow-gradient;
    color: $color-yellow;
  }
}
